* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --main-text-color: #19115C;
    --some-color: #7092be;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding-left: 20px;
    color: var(--main-text-color);
    font-style: bold;
    background-image: url(../images/abstract.png);
    height: 200px;
    width: 100%;
}

header h1 a{
    text-decoration: none;
    color: var(--main-text-color);
}

header nav ul li {
    display: flex;
    display: inline-flex;
    text-align: right;
}

header nav ul li a{
    display: flex;
    text-decoration: none;
    color: var(--main-text-color);
    text-align: right;
}

header nav ul{
    list-style: none;
}

.about-image img{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    height: auto;
}