* {
    margin: 0;
    padding: 0;
    background-color: #e0e2e4;
}

header {
    text-align: left;
    padding-left: 20px;
    color: #625750;
    font-style: normal;
}

header nav {
    display: inline;
}

header nav ul{
    list-style: none;
}